input {
  width: 100%;
  height: 35px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;

  width: 50%;
  color: #000;
  margin-top: 10px;
}

#messages li:nth-child(odd) {
  background-color: aquamarine;
}

#messages li:nth-child(even) {
  background-color: lawngreen;
}

#submit-btn {
  margin-top: 10px;
}
